body {
  background-image: url('./../images/bg_img.jpg');
}

.boilerplate {
  color: rebeccapurple;
}

.boilerplate img {
  display: block;
}

#wrapper {
  width: 50%;
  height: 50%;
  border: 2px solid red;
  background-color: aquamarine;
}